*{
	box-sizing: border-box;
}

$blackish: #3b3a36;
$greyish: #b3c2bf;
$whitish: #e9ece5;
$blueish: #c0dfd9;
$greenish: #c5d5cb;
$borders: 1px solid $blackish;

body, html {
 	background-color: $greenish;
 	color: $blackish;
 	margin: 0;
 	padding: 0;
 	width: 100%;
 	height: 100%;

}

.titleBox{
	width: 100%;
	padding: 40px 0;
	background-color: $blueish;
	display: flex;
	justify-content: center;

	  #title{
	color: $blackish;
	text-shadow: 3px 3px $greyish;
     }

}

.textContainers{
	width: 100%;
	height: 800px;
	margin: 30px auto;
	#textTitle{
		text-align: center;
		color: $blackish;
		text-shadow: 2px 2px $greyish;
	}
}

.someContainer {
	width: 100%;
	padding: 0 auto;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	.inputOutput{
		margin: 0 auto;
		width: 49%;
		height: 500px;
	}
}

 .editorInput {
 	background-color: $whitish;
 	margin-left: 5%;
 	border: none;
 	padding: 8px;
 	border-radius: 5%;
	height: 100%;
	width: 90%;
}

.previewContainer {
	width: 90%;
	margin: 0 auto;
	height: 100%;
	border-radius: 5%;
	padding: 8px;
	overflow: scroll;
	background-color: $whitish;
}

@media screen and (max-width: 700px){
	.someContainer{
		flex-wrap: wrap;
	}
	.inputOutput{
		width: 100%;
	}


}





