*{
	margin: 0;
	box-sizing: border-box;
}

$blackish: #3b3a36;
$greyish: #b3c2bf;
$whitish: #e9ece5;
$blueish: #c0dfd9;
$greenish: #c5d5cb;
$borders: 1px solid $blackish;

body, html {
 	background-color: $greenish;
 	color: $blackish;
 	display: flex;
 	justify-content: center;
 	margin: 0;
 	padding: 0;
 	width: 100%;

}

.titleBox{
	width: 100%;
	margin-top: 20px;
	background-color: $blueish;
	display: flex;
	justify-content: center;

	  #title{
	color: $blackish;
	text-shadow: 3px 3px $greyish;
     }

}

.textContainers{
	width: 100%;
	#textTitle{
		text-align: center;
		color: $blackish;
		text-shadow: 2px 2px $greyish;
	}
}

.someContainer {
	width: 100%;
	display: flex;
}

#editorContainer {
	height: 400px;
	padding: 0;
	
	 #editorInput {
	 	background-color: $whitish;
	 	border: none;
	 	padding-right: 5px;
		padding-left: 5px;
	 	border-radius: 5%;
	 	margin: 0;
		height: 100%;
		width: 95%;
	}
}


.previewContainer {
	height: 400px;
	width: 95%;
	border-radius: 5%;
	padding-right: 5px;
	padding-left: 5px;
	overflow: scroll;
	background-color: $whitish;
}
